<!doctype html>
  <!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
  <html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Evernote Python Example | Templates</title>
      <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
      <link rel="stylesheet" href="static/foundation.css"/>
      <script src="static/modernizr.js"></script>
    </head>
    
    <body>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href='/'> Evernote Python Example | Templates</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
      <section class="top-bar-section">
 
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Evernote Links</a>
          <ul class="dropdown">
            <li>
              <a href="https://dev.evernote.com">Evernote Developer Site</a></li>
            <li>
              <a href="https://appcenter.evernote.com">Evernote App Cetner</a>
            </li>
            <li><a href="http://blog.evernote.com/tech/">Evernote Tech Blog</a></li>
          </ul>
        </li>
      </ul>
      </section>
      </nav>
 
      <div class="row">
         <div class="large-12 columns text-center">
          <!-- content -->
          <h1>
            Evernote Python Example | Templates
          </h1>
          <br>
          <p>
            This application takes all notes in your account with the tag "template" or "Template" and displays the title and tag of the note here.  When you click on a template the application creates a new Evernote note and opens it in your local Evernote client for you to work on.
          </p>
                    <br>
          <a href="{{ auth_url }}" class="medium success button">Connet to Evernote!</a>
          <br><br>
          <div class = "panel">
            <p>
              This appliction requires a Evernote client to work, download here: <a href="https://evernote.com/download/">https://evernote.com/download/</a>
            </p>
          </div>
        </div>
      </div>
      <!--
      <div class="row">
          <div class "large-3 columns">
             <a href="https://dev.evernote.com/"><img src="static/endev.png"></a><br/>
          </div>
          <div class "large-3 columns">
          <a href="https://appcenter.evernote.com/"><img src="static/appcenter.png"></a><br/>
          </div>
      </div>
      -->

 
 
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="https://dev.evernote.com">Developers</a></li>
<li><a href="https://appcenter.evernote.com">App Center</a></li>
<li><a href="http://blog.evernote.com/tech/">Blog</a></li>
</ul>
</div>
</div>
</div>
</footer>
 
 
<div class="reveal-modal" id="mapModal">
<h4>Where We Are</h4>
<p><img src="http://placehold.it/800x600"/></p>
 
<a href="#" class="close-reveal-modal">&times;</a>
</div>

</body>
</html>